html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

.Header,
.Footer {
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
}

.HeaderLinks {
  display: flex;
  gap: 20px;
}

.Body1 {
  display: flex;
  min-height: 35vh;
}

.Body2 {
  display: flex;
  min-height: 35vh;
}

.Body3 {
  display: flex;
  min-height: 30vh;
}

.Body4 {
  display: flex;
  min-height: 25vh;
}

.Footer {
  display: flex;
  min-height: 10vh;
}
