html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

.Header,
.Footer {
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.HeaderLinks {
  display: flex;
  gap: 20px;
}

.Body1 {
  display: flex;
  min-height: 35vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.LeftText,
.RightImage {
  color: white;
  padding: 0;

  display: flex;
  flex-direction: column;
  /* align-items: space-around; */
  justify-content: center;
  flex: 1;
  /* margin-top: 75px; */
  /* margin-bottom: 75px; */
}

.LeftText {
  margin-right: 25px;
}

p {
  flex-wrap: wrap;
}

button {
  background-color: #3882F6;
  color: white;
  border: 0;
  padding: 5px;
  margin-right: 280px;
  border-radius: 8px;
}

.RightImage {
  margin-top: 25px;
  margin-bottom: 25px;
}

.Body2 {
  display: flex;
  min-height: 35vh;
}

.Body3 {
  display: flex;
  min-height: 30vh;
}

.Body4 {
  display: flex;
  min-height: 25vh;
}

.Footer {
  display: flex;
  justify-content: center;
  min-height: 10vh;
}
