html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.Header,
.Footer {
  display: flex;
  justify-content: space-between;
  min-height: 5rem;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.HeaderLinks {
  display: flex;
  gap: 20px;
}

.Body1 {
  display: flex;
  min-width: 0;
  padding-left: 5rem;
  padding-right: 5rem;
}

.LeftText,
.RightImage {
  color: white;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.LeftText {
  margin-right: 25px;
}

p {
  flex-wrap: wrap;
}

button {
  border: 0;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.RightImage {
  display: flex;
  justify-content: center;
}

.Body2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: 200px;
  margin-right: 200px;
}

.centerdisplay {
  display: flex;
  flex-direction: row;
  flex-shrink: 3;
  margin-top: 2rem;
  gap: 30px;
}

.boxandtext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustrations {
  width: 181.875px;
  height: 181.875px;
  border-width: medium;
  border-color: #3882F6;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.subtext {
  text-align: center;
  margin-top: 1rem;
}


.Body3 {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

.quoted {
  display: flex;
  justify-content: end;
}

.Body4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.CallToAction {
  width: 40rem;
  height: 10rem;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* padding: 40px; */
  padding-left: 100px;
  /* padding-right: 100px; */
  gap: 100px;
}


.Footer {
  display: flex;
  justify-content: center;
  min-height: 10vh;
}
